@import url('../../styles/fonts.css');

body {
    background: #DBDBDB;
    padding: 10px;    
}

#teams {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}