@import url('../../styles/fonts.css');

.team-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
    max-width: 500px;
}

.team-wrapper  h1 {
    font-size: var(--font-size-xl);
    line-height: 20px;
    font-family: var(--khand);
    font-weight: var(--font-weight-bold);
    width: 20px;
    text-align: right;
}
.team {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    /* align-items: center; */
}