@import url('../../styles/fonts.css');

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;
    margin-right: var(--spacing-l);
    padding: 0 var(--spacing-xs);
    font-size: var(--font--size-m);
    line-height: var(--line-height-m);
    font-family: var(--khand);
    font-weight: var(--font-weight-medium);
    border-radius: var(--spacing-s);
    border-style: solid;
    border-width: var(--spacing-xs);
}
.category.PRO {
    background: var(--pro-category-bg-color);
    border-color: var(--pro-category-color);
    color: var(--pro-color);
}
.category.AM {
    background: var(--am-category-bg-color);

    border-color: var(--am-category-color);
    color: var(--am-color);
}
