@import url('../../styles/fonts.css');

.player {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: var(--khand);
    padding: var(--spacing-s);
    margin: var(--spacing-m);
    box-shadow: -5px 5px #000000;
}

.player.PRO {
    background: var(--pro-player-bg);
    color: var(--pro-player-color);
}

.player.AM {
    background: var(--am-player-bg);
    color: var(--am-player-color);
}

.player .player-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-xs);
}

.player .player-name {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    font-weight: var(--font-weight-semi-bold);

}

.player .player-time {
    text-transform: uppercase;
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    margin-left: var(--spacing-xl);
    text-align: right;
}
