@import url('../../styles/fonts.css');

.player {
    width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: var(--khand);
    padding: var(--spacing-s);
    margin: var(--spacing-m);
    box-shadow: -6px 6px rgba(0,0,0,0.5);
}

.player.PRO {
    background: var(--pro-player-bg);
    color: var(--pro-player-color);
}

.player.AM {
    background: var(--am-player-bg);
    color: var(--am-player-color);
}

.player .player-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-xs);
}

.player .player-name {
    font-size: var(--font-size-m);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-semi-bold);
}

.player .player-total-time {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    text-align: right;
    align-self: flex-end;
    margin-right: var(--spacing-s);
}
.player .player-lap-time {
    font-size: var(--font-size-s);
    line-height: 0;
    font-weight: var(--font-weight-regular);
    margin-right: var(--spacing-s);
}

.player .player-lap-time.difference { text-align: right;}

.player .player-lap-wrapper {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}


.fastest {
    font-weight: var(--font-weight-bold) !important;
}